<div>
  <h1 class="text-4xl font-bold">Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>
</div>

<%= turbo_frame_tag :test, data: { controller: "turbo-frame-history" } do %>
  <%= link_to "click me", home_index_path(time: Time.now.to_s.parameterize), data: { turbo_stream: true } %>
<% end %>
